# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
dataconnect-generated/
dataconnect/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.rules

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Firebase
.firebase/